{% extends "base.html" %} {% load staticfiles %} {% block title %}Twoje plany - {% endblock %} {% block header %}

<nav>
  {% if user.is_authenticated %}
  <ul id="menu">
        <li><a href="/">Home</a></li>
        <li><a href="/planowanie/">Planuj</a></li>
        <li><a href="/koszyk/">Twoje plany</a></li>
  </ul>
  {% else %}
                        <ul id="menu">
                            	<li><a href="/">Home</a></li>
                            	<li><a href="/">O nas</a></li>
                            	<li><a href="/">Kontakt</a></li>
                        </ul>
  {% endif %}
</nav>
{% endblock %} {% block content %}
<section class="featured">
  <div class="content-wrapper">
  </div>
</section>
<section class="niewiesz">
  <div class="cotojest">

    <table width="100%">
      <caption>Twoje plany:</caption>
      <tbody>
        {% if lista_koszykow %}
        {% for koszyk in lista_koszykow %}
        <tr>
          <th>{{koszyk.nazwa}}</th>
          <th><a href="/wyswietl/?param={{koszyk.nazwa}}">Wyświetl</a></th>
          <th><a href="/mapa/?param={{koszyk.nazwa}}">Pokaż na mapie</a></th>
          <th><a href="/zapis_pdf/?param={{koszyk.nazwa}}">Pobierz w formie pdf</a></th>
        </tr>
        {% endfor %}
        {% endif %}
      </tbody>
    </table>
  </div>
</section>



{% endblock %}
